@import "tailwindcss";
#root{
    width: 100%;
    height: 100%;
}
.rotateAnimation{
    animation: rotate 1.5s infinite linear;
}
.deleteAnimation{
    animation: delete forwards 1s ease-in;
}
@keyframes rotate {
    to{
        rotate: 360deg;
    }
    
}
@keyframes delete {
    0%{
        margin-right: 0;
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
        transform: translateX(-150%);
        filter: blur(15px);
    }
    
}